/* GLOBAL AND MOBILE STYLES FIRST */

body {
  margin:0;
  padding:0;
  background: #FFF;
  text-align: center;
  overflow-x: hidden;
}

header  {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/FrontCover.jpg);
	background-attachment: absolute;
    background-size: cover;
    background-position: center;
    height: 70vh;
	position: relative;
	bottom: 22px;
}

#menu{
  padding: 1em;
  background: #fff;
  display: block;
  background-color: #535863;
  
}
  nav {
    background-color: #535863;
    display: none;
    list-style: none;
  }

  nav a {
    display: block;
    color:  #75aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Century Gothic;
  }
.show-menu {
  display: block;
  
}

a {
  color: #75aaff;
  text-decoration: none;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-family: Luminari;
  top: 200px;
  color: #ffffff;
}

h2  {
  position: relative;
  text-transform: uppercase;
  font-family: Snell Roundhand;
  top: 200px;
  color: #ffffff;
  }

main {
  display: block;
  /* height cannot be auto or 100% */
  height: 1000px;
  /* overflow-y can also be scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section {
  padding: 0 0.5em;
} 
 
/* For Tablet size (medium size) */
@media screen and (min-width: 700px) {

nav  {
	display: block;
}

  #menu {
    display: none;
  }


/*Second breakpoint desktop size (desktop size)*/

@media screen and (min-width: 1000px) {
  
  h1 {
	font-size: 400%;
  }
  
  h2  {
	font-size: 150%;
  }
  
  nav {
    display: block;
  }
  nav a {
    display: inline-block;
    line-height: 3em;
    width: 13%;
  }
  #menu {
    display: none;
  }

}