/* GLOBAL AND MOBILE STYLES FIRST */

body  {
	margin: 0;
	padding:0;
	background: #FFF;
	overflow-x: hidden;
}



header  {
	position: relative;
	bottom: 50px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/FrontCover.jpg);
	background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
	
	
}
h1  {
	position: relative;
    text-transform: uppercase;
	top: 200px;
	left: 300px;
    color: #ffffff;
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 1px;
	font-weight: bold;

  }
  
h2  {
	position: relative;
    text-transform: uppercase;
	top: 200px;
	left: 400px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
	font-weight: bold;

  }

#menu{
	padding: 1em;
	background: #fff;
	display: inline-block;
}
  
a {
  color: #fff;
  text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #ffffff;
	float: right;
}
li {
    float: left;
	
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
}

/*Logo*/

img.resize  {
	width: 160px;
	height: 65px;
}