/* GLOBAL AND MOBILE STYLES FIRST */

body {
  margin:0;
  padding:0;
  background: #FFF;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-flow: row wrap; 
}

header  {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/FrontCover.jpg);
	background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 70vh;
	position: relative;
	bottom: 25px;
}


#menu{
  padding: 1em;
  background: #fff;
  display: block;
  background-color: #535863;
  
}
  nav {
    background-color: #535863;
    display: none;
    list-style: none;
	
  }

  nav a {
    display: block;
    color:  #75aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Century Gothic;
	
  }
.show-menu {
  display: block;
  
}

a {
  color: #75aaff;
  text-decoration: none;
  font-size: 140%;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-family: Luminari;
  top: 200px;
  color: #ffffff;
}

h2  {
  position: relative;
  text-transform: uppercase;
  font-family: Snell Roundhand;
  top: 200px;
  color: #ffffff;
  }

main {
  display: block;
  /* height cannot be auto or 100% */
  height: 1000px;
  /* overflow-y can also be scroll */
}

#flex  {
	  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

#flex div  {
	  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
  
}

#flex div img { 
  width: 100%; 
  height: auto; 
}

/* For Tablet size (medium size) */
@media screen and (min-width: 1000px) {

nav  {
	display: block;
}


  #menu {
    display: none;
  }

  a  {
	font-size: 120%;
  }

   #flex div { margin: 0; }
  #flex { padding: 0; }
/*Second breakpoint desktop size (desktop size)*/

@media screen and (min-width: 1500px) {
  
  h1 {
	font-size: 400%;
  }
  
  h2  {
	font-size: 150%;
  }
  
  nav {
    display: block;
  }
  nav a {
    display: inline-block;
    line-height: 3em;
    width: 13%;
  }
  #menu {
    display: none;
  }

}